


/*BACKGROUND GRID*/

.grid-bg {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -100;
  }
  
  .grid-bg::before {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: " ";
    background-image: linear-gradient(#f2e9ff 2px, transparent 2px), linear-gradient(90deg, #f2e9ff 2px, transparent 2px);
    background-size: 80px 80px, 80px 80px;
    background-position: -2px -2px, -2px -2px;
    animation: gridWipe 1.5s ease-in;
  }
  
  @keyframes gridWipe {
    0% {
      width: 0px;
      height: 0px;
    }
  
    100% {
      width: 100%;
      height: 100%;
    }
  }
