/*FONT STYLES*/
p, span {
	font-family: aglet-mono, mono, monospace;
    font-weight: 400;
    font-style: normal;
}


h1,
h2,
h3,
h4,
h5
{
  font-family: bungee, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 2em;
}

h1 {
  font-size: 10.6em;
}

/*CUSTOM CURSOR*/

a:hover {
    cursor: url("https://i.imgur.com/VnCVQaI.png"), auto;
  }
  
body {
    background:linear-gradient(#f3edff3d, #f5f6ff);
    font-family: aglet-mono, mono, monospace;
    cursor: url("https://i.imgur.com/liwtOG3.png"), auto;
  }

  div.clickRipple {
    position: fixed;
    border-style: solid;
    border-radius: 50%;
    z-index: 99999;
    animation: ripple 0.25s ease-out;
  }
  
  @keyframes ripple {
    from{
      opacity: 1;
      width: 100px;
      height: 100px;
      border-width: 5px;
      margin-left: -50px;
      margin-top: -50px;
      
    }
    
    to{
      opacity: 0.35;
      width: 225px;
      height: 225px;
      border-width: 2px;
      margin-left: -112.5px;
      margin-top: -112.5px;
    }
  }
  
/* DARK MODE TOGGLE*/
.dark-mode-toggle svg{
  width: 50px;
}

.moon-icon:hover {
  fill: #05f240;
}

/*BACKGROUND GRID*/

.grid-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -100;
  }
  
  .grid-bg::before {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: " ";
    background-image: linear-gradient(#3a2dff21 2px, transparent 2px), linear-gradient(90deg, #3a2dff21 2px, transparent 2px);
    background-size: 90px 90px, 90px 90px;
    background-position: -2px -2px, -2px -2px;
    animation: gridWipe 2.5s ease-in;
  }
  
  @keyframes gridWipe {
    0% {
      width: 0px;
      height: 0px;
    }
  
    100% {
      width: 100%;
      height: 100%;
    }
  }

/*PARALLAX EFFECT*/
    .parallax {
      position:relative;
    }
     
    .parallax__item {
      position:absolute;
      width:100%;
    }
    .parallax__item_text {
      font-size: 24px;
      line-height: 46px;
      height: 46px;
      background: #fff;
      border: 2px #000 solid;
      width: 450px;
      text-align: center;
      box-shadow:7px 4px #705cf2;
      }

    .long_triangle{
      display: block;
      margin: -8% 0 0 15%;
      text-align: center;
      width: 200px;
    }

    .long_triangle_shadow{
        display: block;
        margin: -8% 0 0 14%;
        text-align: center;
        width: 200px;
    }

/*--------NAVIGATION BAR--------- */
header {
    width: 100%;
    z-index: 999;
    position: fixed;
}

.top-bar {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  flex-direction: row;
}

/*---Menu Toggle-----*/


a.menu-toggle {
  transition: all 0.5s ease;
}

a.menu-toggle svg {
  width: 65px;
  transition: all 0.5s ease;
}

a.menu-toggle.clicked svg {
  transform: rotate(45deg);
}

nav.overlay.bounce-in-top {
 animation: bounce-in-top 1.1s both;
animation-fill-mode: forwards;
overflow-y: hidden;
}

/* Entrance animation for Nav Menu*/
@keyframes bounce-in-top {
0% {
          transform: translateY(-100%);
          animation-timing-function: ease-in;
          opacity: 1;
}
38% {
          transform: translateY(0);
          animation-timing-function: ease-out;
           opacity: 1;
}
55% {
          transform: translateY(-12%);
          animation-timing-function: ease-in;
}
72% {
          transform: translateY(0);
          animation-timing-function: ease-out;
}
81% {
          transform: translateY(-6%);
          animation-timing-function: ease-in;
}
90% {
          transform: translateY(0);
          animation-timing-function: ease-out;
}
95% {
          transform: translateY(-1%);
          animation-timing-function: ease-in;
}
100% {
          transform: translateY(0);
          animation-timing-function: ease-out;
}
}

/* Exit animation for Nav Menu*/
nav.overlay.slide-out-top {
        animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
animation-fill-mode: forwards;
}

@keyframes slide-out-top {
0% {
          transform: translateY(0);
          opacity: 1;
}
100% {
          transform: translateY(-100%);
          opacity: 1;
}
}

/*Nav Menu*/
nav.overlay {
transform: translateY(-100%);
position: absolute;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
height: 100vh;
overflow: hidden;
top: 0;
left: 0;
background:#fff;
border-bottom: 3px #000 solid;
}

/* Position the content inside the overlay */
.overlay-content {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%; 
}


.social-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

/* The navigation links inside the overlay */
.overlay a {
padding: 16px;
text-decoration: none;
font-size: 3.9em;
color: #000;
display: block; 
transition: 0.5s;
}

.linkhover {
position: relative;
font-size: 2em;
margin: 0 20px;
text-align: center;
  display: flex;
flex-direction: row;
justify-content: center;
}
.linkhover:before {
content: "";
backgroud:#f24bd6;
box-shadow: 2px 4px black;
transition-duration: 0.5s;
position: absolute;
bottom: 0;
width: 0;
height: 6px;
}
.linkhover:hover:before {
background: #f24bd6;
width: 95%;
}


/* HEADER ICONS*/


a:hover .mail-icon{
fill:#fee550;
}

a .mail-icon{
  transition: 0.2s ease-in;
  }
  
.mail span {
  position:absolute;
  display:table;
  top:50%;
  right: 5%;
  background:#fff;
  color:#000;
  border-radius:10px;
  border: 2px #000 solid;
  box-shadow:7px 4px #705cf2;
  padding:3px 6px;
  opacity:0;
  font-size: 12px;
  text-align: center;
  transition: 0.2s all ease-out;
}

.mail a:hover ~ * {
  opacity:1;
}

/*NAV TOGGLE */

.menu-toggle svg {
transition: 0.3s;
}

.menu-toggle .active svg {
  transition: 0.3s;
  transform: rotateZ(45deg);
}

/*---------HOME----------*/

/* Section Structure */

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 70px;
}

.col1{
  padding: 50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BYJAYCIEMOTA LOGO */
#lineDrawing{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

#mobile-logo{
  display:none;
}

#desktop-logo{
  display:block;
  width: 100%;
}


@media screen and (max-width: 689px) {
  #mobile-logo{
    display: block;
  }
  #desktop-logo {
   display:none;
  }
}





.my-path {
  stroke:#000;
  stroke-width:3;
  stroke-width: 3px;
}

.pink-fill {
  fill: none;
  animation: pinkFill 1s ease-in 1.5s forwards;
}

@keyframes pinkFill {
    
  0% {
      fill: transparent;
  }
  75% {
      fill: transparent;
  }
  100% {
      fill: #f24bd6;
  }
}

/* Tagline */
.tagline{
  font-size: 1.7em;
  padding: 10px 0;
  display: flex;
  right: 20%;
  top: 58%;
  position: absolute;
  animation: text-focus-in 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}




/*Scroll Indicator*/

.indicator-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.indicator-container {
  width: 6.4em;
  height: 6.4em;
  background: #fff;
  border: 4px solid black;
  box-shadow: 8px 8px #705cf2;
  border-radius: 6.4em;
  overflow: hidden;
  position: fixed;
  z-index: 990;
  top: 20%;
  opacity:0;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.indicator-arrow {
  margin-top: 50%;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

 .base {
    margin: 0 auto;
    width: 8px;
    background: black;
    height: 2.1em; 
    border-radius: 6px;
  }
  
  .arrowpoint {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 
     18px 18px 0 18px;
    border-color: 
     black transparent 
      transparent transparent;
    margin-top: -10%;
  }

.top {
  margin-top: -100%;
  animation: arrowAnimation1 infinite 1.1s ease-in-out;
}

.bottom {
  margin-top: 100%;
}

@keyframes arrowAnimation1 {
    from {margin-top: -100%;}
    to {margin-top: 40%;}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

/* Page Heading Accents*/
.rectangle {
  width: 400px;
  max-width: 100%;
  height: 19px;
  background: none;
  top: 62%;
  left: 28%;
  position: absolute;
  border: 4px solid #000;
}